body {
  display: flex;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  min-width: 32px;
  gap: 8px;
  padding: 16px;
  width: 5%;
}

.aside__btn,
.aside__logo {
  aspect-ratio: 1/1;
  min-width: 32px;
  min-height: 32px;
}

main {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.main__header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.main__title {
  display: flex;
  height: 64px;
  font-size: 32px;
  font-weight: bold;
  align-items: center;
  padding-left: 16px;
}

.main__main-content {
  flex: auto;
}
